<div class="row">
    <div class="col col-xs-4">
        <div class="form-group">
            <label for="disal">Distribución Aleatoria</label>
            <select id="disal" class="form-control validate" *ngIf="data" [(ngModel)]="data.dist"  (ngModelChange)="onChanges()">
                <option value="" disabled selected>Escoja una opción</option>
                <option [ngValue]="0">Normal</option>
                <option [ngValue]="1">Uniforme</option>
                <option [ngValue]="2">Poisson</option>
            </select>
        </div> 
    </div>
    <div *ngIf="data.dist== 0" class="col col-xs-4">
        <div class="form-group">
            <label for="desvest">Desviación Estandar</label>
            <input type="email" class="form-control validate" id="desvest" type="number" step="0.1" *ngIf="data" [(ngModel)]="data.desv_standar"
                min="0"  (blur)="onChanges()">
        </div>
    </div>
    <div *ngIf="data.dist == 0 || data.dist == 2 " class="col col-xs-4">
        <div class="form-group">
            <label for="desvest">Promedio</label>
            <input class="form-control validate" id="desvest" type="number" step="0.1" *ngIf="data" [(ngModel)]="data.promedio"
                (blur)="onChanges()">
        </div>
    </div>
    <div *ngIf="data.dist == 1" class="col col-xs-3">
        <div class="form-group">
            <label for="min">Min</label>
            <input id="min" class="form-control validate" type="number" step="0.1" *ngIf="data" [(ngModel)]="data.min"  (blur)="onChanges()">
        </div>
    </div>
    <div *ngIf="data.dist == 1" class="col col-xs-3">
        <div class="form-group">
            <label for="max">Max</label>
            <input id="max" class="form-control validate" type="number" step="0.1" *ngIf="data" [(ngModel)]="data.max"  (blur)="onChanges()">
        </div>
    </div>

</div>



