<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="/estadisticas">Estadísticas</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link ">asignación 3</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link" href="/">Reiniciar</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="ready" class="container">

  <h1><span class="badge badge-primary ">Histograma de Tiempo entre Arribo</span></h1>
  <div class="row">
    <div class="col-md-12">
      <div style="display: block;">
        <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <p>**Intervalos (Clases) calculadas con la regla de sturges.</p>

  </div>

  <h1><span class="badge badge-primary ">Histograma de Tiempo de Servicio</span></h1>
  <div class="row">
    <div class="col-md-12">
      <div style="display: block;">
        <canvas baseChart 
        [datasets]="barChartData" 
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors" 
        [legend]="barChartLegend" 
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <p>**Intervalos (Clases) calculadas con la regla de sturges.</p>
  </div>

  <div>
  <h1><span class="badge badge-primary ">Estadísticas Descriptivas del Tiempo entre Arribo</span></h1>
  <div class="col-md-6" style="margin-bottom: 25px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of descriptivaChart_label">{{label}}</th>
      </tr>
      <tr *ngFor="let d of descriptivaChart_arribo">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j] | number : '1.2-2'}}</td>
      </tr>
    </table>
  </div>
  </div>

  <div>
      <h1><span class="badge badge-primary ">Estadísticas Descriptivas del Tiempo de Servicio</span></h1>
      <div class="col-md-6" style="margin-bottom: 25px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of descriptivaChart_label">{{label}}</th>
          </tr>
          <tr *ngFor="let d of descriptivaChart_servicio">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j] | number : '1.2-2'}}</td>
          </tr>
        </table>
      </div>
      </div>

</div>