<div class="row">
  <form class="col col-xs-12">
    <div class="form-group">
      <h5>Cola:</h5>
      <app-distribucion *ngIf="params" [(data)]="this.params.dist_cola"></app-distribucion>
    </div>
    <div class="form-group">
      <h5>Servidor:</h5>
      <app-distribucion *ngIf="params" [(data)]="params.dist_Server"></app-distribucion>
    </div>


    <div class="form-group">
      <label for="umt">Unidad de Tiempo</label>
      <select id="umt" *ngIf="params" [(ngModel)]="params.um_tiempo" [ngModelOptions]="{standalone: true}" (change)="onSelect()">       
            <option value="" disabled selected>Choose your option</option>
            <option value="0">Horas</option>
            <option value="1">Minutos</option>
            <option value="2">Segundos</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Número de clientes</label>
      <input type="email" class="form-control" id="exampleInputEmail1" type="number" *ngIf="params" [(ngModel)]="params.nCliente" [ngModelOptions]="{standalone: true}" (change)="saverange()">
    </div>

  </form>
</div>

<button type="button" (click)="actualizarParametros()" class="btn btn-outline-success">Actualizar Parametros</button>