<div class="row">
  <form class="col col-xs-12">

    <h5>Cola:</h5>
    <app-distribucion *ngIf="params" [(data)]="this.params.dist_cola"></app-distribucion>


    <h5>Servidor:</h5>
    <app-distribucion *ngIf="params" [(data)]="params.dist_Server"></app-distribucion>


    <div class="row">

      <div class="col col-md-2">
        <div class="form-group">
          <label for="umt">Unidad de Tiempo</label>
          <select id="umt" class="form-control validate" *ngIf="params" [(ngModel)]="params.um_tiempo" [ngModelOptions]="{standalone: true}">       
            <option value="" disabled selected>Escoja una opción</option>
            <option [ngValue]="2">Horas</option>
            <option [ngValue]="1">Minutos</option>
            <option [ngValue]="0">Segundos</option>
          </select>
        </div>
      </div>


      <div class="col col-md-2">
        <div class="form-group">
          <label for="nclient">Número de clientes</label>
          <input class="form-control validate" id="nclient" type="number" *ngIf="params" [(ngModel)]="params.nCliente" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  </form>
</div>

<button type="button" (click)="actualizarParametros()" class="btn btn-outline-success">Actualizar Parámetros</button>