<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="#">Asignación 3</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link ">Simulación</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row" style="margin-top: 10px;margin-left: 1px;margin-right: 5px;">
  <div class="col col-md-8">
    <app-sim-grafica></app-sim-grafica>
  </div>
  <div class="col col-md-4">
    <div class="row">
      <div class="col col-md-12 " style="margin: 5px;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary"><span class="fa fa-refresh"></span></button>
          <button type="button" class="btn btn-secondary"><span class="fa fa-bar-chart"></span></button>
          <button type="button" class="btn btn-secondary"><span class="fa fa-list-ul"></span></button>
          
        </div>
      </div>
      <div class="col col-md-12">
        <app-panel-listado></app-panel-listado>
      </div>
    </div>
  </div>
</div>