 

<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header "><i class="material-icons">assignment</i>Presentación</div>
      <div class="collapsible-body"><span>
          <h5>Universidad Tecnológica de Panamá</h5>
          <p>Curso: Modelado y Simulación de Sistemas</p>
          <p><b>Objetivo General:</b></p>
          <p> 
              Desarrollar un programa con animación, en un lenguaje de programación, que simule la llegada de clientes a un mecanismo de servicio de 1 cola – 1 servidor.
          </p>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_turned_in</i>Indicaciones</div>
      <div class="collapsible-body"><span> 
          <ul>Indicaciones para la realización de esta asignación: 
              <li>hello world</li>
              <li>hello world</li>
              <li>hello world</li>
              <li>hello world</li>
            </ul>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">border_color</i>Parametros</div>
      <div class="collapsible-body"> <span></span></div>
    </li>
  </ul>

 <app-parametros></app-parametros>