<div class="row text-center" style="margin-top: 20px;">
  <h1><span class="badge badge-success ">Integrantes</span></h1>
  <div class="col-lg-3 col-sm-6 col-lg-offset-3">
    <div class="card hovercard">
      <div class="cardheader">
      </div>
      <div class="avatar">
        <img alt="" src="https://scontent.fpac1-2.fna.fbcdn.net/v/t1.0-9/11205083_891054740935828_8410570940325912920_n.jpg?oh=744c42a602a0652a7d83299a52e2b2d0&oe=5A39C608">
      </div>
      <div class="info">
        <div class="title">
          <a target="_blank" href="http://scripteden.com/">Miguel Ángel Campos</a>
        </div>
        <div class="desc">Desarrollador</div>
        <div class="desc">Estudiante</div>
      </div>
      <div class="bottom">
        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/Miguel_Angel_30">
                        <i class="fa fa-twitter"></i>
                    </a>

        <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/miguel3010">
                        <i class="fa fa-github"></i>
                    </a>
      </div>
    </div>

  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="card hovercard">
      <div class="cardheader">
      </div>
      <div class="avatar">
        <img alt="" src="https://scontent.fpac1-2.fna.fbcdn.net/v/t1.0-9/12065819_10207700981864711_260000129307620683_n.jpg?oh=fbb3ac9fd18d810d8a93452785088f57&oe=5A53259A">
      </div>
      <div class="info">
        <div class="title">
          <a target="_blank" href="http://scripteden.com/">Luis Yao</a>
        </div>
        <div class="desc">Desarrollador</div>
        <div class="desc">Estudiante</div>
      </div>
      <div class="bottom">
        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/notLwiz">
                          <i class="fa fa-twitter"></i>
                      </a> 
        <a class="btn btn-warning btn-sm" rel="publisher" href="hhttps://github.com/Yaito">
                        <i class="fa fa-github"></i>
                    </a>
      </div>
    </div>

  </div>
</div>