<div class="card "style = "height: -webkit-calc(100vh - 130px);
height: -moz-calc(100vh - 150px);
height: calc(100vh - 130px); ">
    <div class="card-header">
      Clientes en cola  <span style="font-size: 15px;" class="badge badge-default">{{enProceso.length}}</span> 
    </div>
    <div class="card-block">
        <table class="table table-striped header-fixed" style="font-size: 11px;">
            <thead>
              <tr>
                <th >No. Cliente</th>
                <th>Hora de arribo</th> 
                <th>Hora de fin de servicio</th> 
                <th>Tiempo de Espera en cola </th> 
              </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let item of enProceso">
                    <td>{{item.numeroCliente }}</td>
                    <td>{{item.h_arribo | date:'HH:mm:ss'}}</td>
                    <td>{{item.h_f_servicio | date:'HH:mm:ss'}}</td>
                    <td>{{item.t_espera_cola}}</td>
                </tr>
            </tbody>
          </table>
    </div>
  </div>
